:root {
    --white: #C7C7C7;
    --very-white: #ffffff;
    --hospital-red: #e91010;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width: 100%;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 2.5px solid var(--very-white);
    background-color: rgb(0, 0, 0);
  }
  .titulo-crepes{
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 50px;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .li{
      padding-right: 10px;
  }
  .navbar-left ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 55px;
  }
  .navbar-left ul li a {
    text-decoration: none;
    color: var(--very-white);
    border: 1px solid var(--very-white);
    padding: 15px;
    border-radius: 8px;
    background-color: var(--hospital-red);
  }
  .navbar-left ul li a:hover {
    border: 3px solid var(--hospital-red);
    color: black;
  }
    .cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 240px);
      gap: 26px;
      place-content: center;
    }
    .product-card {
      width: 240px;
      border: 1px solid black;
      border-radius: 15px;
    }
    .product-card img {
      width: 240px;
      height: 240px;
      border-radius: 14px;
      object-fit: cover;
    }
    .product-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 9px;
      padding-right: 9px;
      padding-bottom: 9px;
      padding-top: 4px;
    }
    .product-info figure {
      margin: 0;
    }
    .product-info figure img {
      width: 35px;
      height: 35px;
    }
    .product-info div p:nth-child(1) {
      font-weight: bold;
      padding-left: 50px;
      font-size: var(--md);
      margin-top: 0;
      margin-bottom: 4px;
      text-align: center;
      
    }
    .product-info div p:nth-child(2) {
      font-size: var(--sm);
      margin-top: 0;
      margin-bottom: 0;
    }
    .combos{
        width: 240px;
        height: 240px;
        align-content: center;
    }
    .precio{
        margin: 0;
        padding-top: 50px;
    }
    #cards{
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: 640px) {
      .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
      }
      .product-card {
        width: 140px;
      }
      .product-card img {
        width: 140px;
        height: 140px;
      }
      nav{
          display: none;
      }
      .combos{
        width: 140px;
        height: 140px;
      }
    }
    @media(min-width: 1120px){
        .combos{
            width: 550px;
            height: 313px;
            padding-left: 350px;
            padding-right: 350PX;
            padding-top: 40px;
        }
    }