body {
    background-image: url("./img/papas.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
:root {
    --white: #C7C7C7;
    --very-white: #ffffff;
    --hospital-red: #e91010;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 2.5px solid var(--very-white);
  }
  .menu {
    display: none;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .li{
      padding-right: 10px;
  }
  .navbar-left ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 55px;
  }
  .navbar-left ul li a {
    text-decoration: none;
    color: var(--very-white);
    border: 1px solid var(--very-white);
    padding: 15px;
    border-radius: 8px;
    background-color: var(--hospital-red);
  }
  .navbar-left ul li a:hover {
    border: 3px solid var(--hospital-red);
    color: black;
  }
  footer{/*Color pie de pagina*/
    background: rgb(15, 69, 247, 0.904);
    padding-bottom: 0.1px;
}

.footer-content{/*Tamaño pie de pagina*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{/*Ajuste redes*/
    width: 40%;
    color: #fff;
}

.brand{/*Titulo pie de pag*/
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{/*Espacio redes*/
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{/*Iconos redes*/
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{/*Fondo ico*/
    background: #fff;
    color: #2f11d8;
}

.social-media-icon i{/*Imagenes iconos*/
    font-size: 30px;
    line-height: 60px;
}