body {
    background-image: url("./img/papas.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
:root {
    --white: #C7C7C7;
    --very-white: #ffffff;
    --hospital-red: #ce2525;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 2.5px solid var(--very-white);
  }
  .menu {
    display: none;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .li{
      padding-right: 10px;
  }
  .navbar-left ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 55px;
  }
  .navbar-left ul li a {
    text-decoration: none;
    color: var(--very-white);
    border: 1px solid var(--very-white);
    padding: 15px;
    border-radius: 8px;
    background-color: var(--hospital-red);
  }
  .navbar-left ul li a:hover {
    border: 3px solid var(--hospital-red);
    color: black;
  }